<div class="container text-center">
  <div>
    <h1 style="color: #007BFF; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Bienvenido a mi App Angular</h1>
  </div>

  <app-saludo class="mt-4">
    <div class="card" style="background-color: #F8F9FA; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 20px;">
      <!-- Contenido de app-saludo -->
    </div>
  </app-saludo>

  <app-contador class="mt-4">
    <div class="card" style="background-color: #F8F9FA; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 20px;">
      <!-- Contenido de app-contador -->
    </div>
  </app-contador>

  <app-image-list class="mt-4">
    <div class="card" style="background-color: #F8F9FA; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 20px;">
      <!-- Contenido de app-image-list -->
    </div>
  </app-image-list>
</div>
